body,html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family:'Kiwi Maru', serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  text-align: center;
}

.btn{
  border-radius: 100%;
}

.bio-text{
  margin: 0 10%;
}

.container-fluid{
  padding: 5% 7%;
}

.carousel{
  margin: 0 20%;
  padding: 0 8%;
}

.certificate_container{
}

.email-text{
  font-size: 32px;
}

.white_heading{
  color: #FEF9EF;
}
.icon1{
  margin-right: 20px;
  float: left;
  position: relative;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.icon2{
  float: left;
  margin-right: 30px;
  position: relative;
  height: 100px;
  width: 90px;
  margin-bottom: 20px;
}

.icon3{
  margin-right: 20px;
  float: left;
  position: relative;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}


.icon4{
  float: left;
  margin-right: 20px;
  position: relative;
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.ptext{
  font-size: 32px;
  letter-spacing: 4px;
  line-height: inherit;
  padding-top: 200px;
  color: #112031;
}

.profile-picture{
  width: 15%;
}


.left-container{
  float: left;
  width: 40%;
  margin-right:150px;

}

.right-container{
  float: left;
  width: 40%;
}

.section-bio{
  padding-top: 50px;
}


.pimg1, .pimg2, .pimg3, .pimg4{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1{
  background-image:url('../images/image1.jpg');
  min-height: 100%;
}

.pimg2{
  background-image:url('../images/image2.jpg');
  min-height: 400px;
}

.pimg3{
  background-image:url('../images/image4.jpg');
  min-height: 400px;
}

.pimg4{
  background-image:url('../images/bg5.jpg');
  min-height: 100%;
}

.section-skill{
  overflow: hidden;
  text-align: left;
  margin: 0 10%;
}

.section-certification{
  background-color: #2C394B;
  padding: 2% 0 2% 0;
}

.skill{
  margin: 100px 0;
}

.timeli{
  font-weight:bolder;
  text-align: left;

}
